.privacy-policy-page {
  padding: 2rem 0;
}

.privacy-policy-page h3 {
  color: #C62828;
  margin-top: 1.5rem;
}

.privacy-policy-page ul {
  padding-left: 1.5rem;
}

.privacy-policy-page li {
  margin-bottom: 0.5rem;
}