body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
  color: #212121;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

ul, ol {
  padding-left: 1.5rem;
}

button {
  font-family: inherit;
}

/* Placeholder styles for images */
.placeholder-image, .project-image-placeholder {
  color: #666;
  font-size: 0.9rem;
}